body { 

    margin: 0;
    height: 100vh;

}
canvas {
    
    display: block;

}
#upload{
    position: absolute;
    left: 20px;
    top: 20px;
    padding: 10px;
    border: 1px solid white;
    z-index: 100;
    cursor: pointer;
    background-color: rgba(0,0,0,0.4);
}

#capture{
    position: absolute;
    left: 20px;
    bottom: 20px;
    padding: 10px;
    border: 1px solid white;
    z-index: 100;
    cursor: pointer;
    background-color: rgba(0,0,0,0.4);
}